In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [16]:
countreviews = len(vine_df)
countreviews

4366916

## Filter data to only show helpful reviews

In [3]:
#filter df to show reviews with over 20 total votes
twentyvotes_vine_df = vine_df[vine_df['total_votes'] >= 20]
twentyvotes_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [4]:
# filter df to show reviews where over 50% are helpful
helpful_vine_df = twentyvotes_vine_df.loc[twentyvotes_vine_df.helpful_votes / twentyvotes_vine_df.total_votes >= 0.5]
helpful_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

### Vine Paid Reviews -  5-Star and Average Ratings

In [6]:
# filter to only show total reviews that were paid by vine program
vine_reviews = helpful_vine_df[helpful_vine_df['vine'] == 'Y']
# vine_reviews.head()

count_vine = len(vine_reviews)
count_vine

22

In [7]:
# total 5 star paid vine reviews 
five_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
five_rating_vine

13

In [8]:
# percentage of VINE 5 star reviews / total helpful reviews
five_rating_vine / count_vine * 100

59.09090909090909

In [9]:
# average rating of vine reviews 
round(vine_reviews['star_rating'].mean(),2)

4.36

In [17]:
# total 4 star paid vine reviews 
four_rating_vine = len(vine_reviews[vine_reviews['star_rating']==4])
four_rating_vine / count_vine * 100

27.27272727272727

In [18]:
# total 1 star paid vine reviews 
one_rating_vine = len(vine_reviews[vine_reviews['star_rating']==1])
one_rating_vine / count_vine * 100

0.0

### Unpaid Reviews (non-vine) -  5-Star and Average Ratings

In [11]:
# filter to only show total reviews that were NOT paid by vine program
nonvine_reviews = helpful_vine_df[helpful_vine_df['vine'] == 'N']
# vine_reviews.head()

count_nonvine = len(nonvine_reviews)
count_nonvine

26987

In [12]:
# total 5 star nonpaid vine reviews 
five_rating_nonvine = len(nonvine_reviews[nonvine_reviews['star_rating']==5])
five_rating_nonvine

14475

In [13]:
# percentage of NONvine 5 star reviews / total helpful reviews
five_rating_nonvine / count_nonvine * 100

53.63693630266425

In [14]:
# average rating of NONvine reviews 
round(nonvine_reviews['star_rating'].mean(),2)

3.86

In [19]:
# total 4 star paid NONvine reviews 
four_rating_nonvine = len(nonvine_reviews[nonvine_reviews['star_rating']==4])
four_rating_nonvine / count_nonvine * 100

14.996109237781155

In [20]:
# total 1 star paid NONvine reviews 
one_rating_nonvine = len(nonvine_reviews[nonvine_reviews['star_rating']==1])
one_rating_nonvine / count_nonvine * 100

14.540334235002039